extends ../../layout
block content
  .uiHeadersFooters_container 
    +logo
    +header('', 'HeaderDisplayNone', '', '')
    .mb40
    +header('HeaderDisplayNone', '', 'Юлий Цезарь', 'ml20')
    .mb40
    +rateButton

