mixin header 
  .header__wrap
    .header_logo 
      +logoGroup
    .header_nav
      .header_btnWrap
        +buttons('buttons__width87', 'buttons__height34', 'buttons__defaultBorder', 'displayNone', 'войти', '')
        .ml20
        +buttons('buttons__width196', 'buttons__height34', 'buttons__defaultBg','displayNone', 'зарегистрироваться', 'button_text__width') 
