mixin header 
  .header__wrap
    .header_logo 
      +logoGroup
    .header_nav
      +select('select__width116','agreements', 'Соглашения', 'value2', 'value3', 'value4')
      .header_btnWrap
        +buttons('buttons__width87', 'buttons__height34', 'buttons__defaultBorder', 'displayNone', 'войти', '')
        .ml20
        +buttons('buttons__width196', 'buttons__height34', 'buttons__defaultBg','displayNone', 'зарегистрироваться', 'button_text__width') 
