extends ../../layout
block content
  div.uiColorsTypeContainer
    div.columnLeft 
      //-each letColor in ['Dark-color', 'Dark-color75', 'Dark-color50', 'Dark-color25', 'Dark-color5', 'Primary-Color', 'Secondary-color']
        +colorBlock(letColor, text, '#1F2041') //
      +colorBlock(x, objColors)  
    div.columnRight 
      +textBlosk(x, objText) 
  h2#main-link  Hello Link 