extends ../../layout
block content
  +logo
  .uiCardsContainer
    div.columnLeft 
      +search 
      //.mb40
      +signUp('Регистрация аккаунта')
    div.columnCentr
    div.columnRight 
      +card('card_carousel','carousel_btn__container','../../../block/libs/card/carousel1.png','../../../block/libs/card/carousel2.png','../../../block/libs/card/carousel3.png','../../../block/libs/card/carousel4.png','888', 'люкс', '9990', '630')
      .mb40
      +card('card_carousel1','carousel_btn__container1','../../../block/libs/card/carousel1.png','../../../block/libs/card/carousel2.png','../../../block/libs/card/carousel3.png','../../../block/libs/card/carousel4.png','888', '', '8090', '45')