.uiCardsContainer {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 9.72%;
    padding-right: 9.72%;
    padding-top: 150px;
    padding-bottom: 140px;
    box-sizing: border-box;
    background: rgba(244, 244, 246, 1);
}
.mb40 {
    margin-bottom: 40px;
}