extends ../../layout
block content
  +logo
  .uiCardsContainer
    .columnLeft.mr40 
      +search 
      .mb40
      +signUp('Регистрация аккаунта', 'Уже есть аккаунт на Toxin')
    .columnCentr.mr40
      +reservation('888', 'люкс', '9990', '4','скидка', '2179','', '', '0', '300', '', 'displayNone')
      .mb40
      +signIn('Войти', 'Нет аккаунта на Toxin?')
    .columnRight 
      +card('card_carousel','carousel_btn__container','../../../block/libs/card/carousel1.png','../../../block/libs/card/carousel2.png','../../../block/libs/card/carousel3.png','../../../block/libs/card/carousel4.png','888', 'люкс', '9990', '630')
      .mb40
      +card('card_carousel1','carousel_btn__container1','../../../block/libs/card/carousel1.png','../../../block/libs/card/carousel2.png','../../../block/libs/card/carousel3.png','../../../block/libs/card/carousel4.png','888', '', '8090', '45')