extends ../../layout
block content
  +logo
  .uiCardsContainer
    div.columnLeft 
      +search 
    div.columnCentr
    div.columnRight 
      +card('card_carousel','carousel_btn__container','../../../block/libs/card/carousel1.png', '888', 'люкс', '8090', '65')
      .mb40
      +card('card_carousel1','carousel_btn__container1','../../../block/libs/card/carousel1.png','888', '', '9990', '45')