
mixin dropdownSum(title1, title2, title3, dropdownSum_Btn__class) 
  .dropdownSum__Wrap#dropdownSumWrapId
    .dropdownSum_Text Сколько гостей
    button#dropdownSumBtn.dropdownSum_Btn
      img(src="../../../block/libs/dropdownSum/dropdownSumBtn.png", alt="Btn")  
  div.dropdownSum_Context.displayNone#dropdownSumContextId
    .dropdownSum_Context__Wrap 
      .title=title1
      .BtnMinus#BtnMinusAdults -
      .Result#ResultAdults 0
      .BtnPlus#BtnPlusAdults +
    .dropdownSum_Context__Wrap  
      .title=title2
      .BtnMinus#BtnMinusChildren -
      .Result#ResultChildren 0
      .BtnPlus#BtnPlusChildren +
    .dropdownSum_Context__Wrap  
      .title=title3
      .BtnMinus#BtnMinusBabies -
      .Result#ResultBabies 0
      .BtnPlus#BtnPlusBabies +    
    .div(class=dropdownSum_Btn__class)
      button очистить
      button применить  
      
