//include ../buttons/_buttons.pug;
//include ../../block/UI-color.pug;
include ./UI-colors/UI-color.pug
include ./UI-text/_ui-text.pug
include ./logo/_logo.pug
include ./text-field/_text-field.pug
include ./UI-formElementInputTitle/_ui-input-title.pug  
include ./dropdownSum/_dropdownSum.pug
include ./dropdownCheckbox/_dropdownCheckbox.pug
include ./radioButtons/_radioButtons.pug
include ./toggleButtons/_toggleButtons.pug   
include ./likeButton/_likeButton.pug
include ./rateButton/_rateButton.pug
include ./buttonText/_buttonText.pug
include ./buttons/_buttons.pug
include ./checkbox/_checkbox.pug
include ./advantages/_advantages.pug
include ./review/_review.pug
include ./bulletList/_bulletList.pug
include ./rangeSlider/_rangeSlider.pug
include ./pagination/_pagination.pug
include ./calendar/_calendar.pug
include ./footer/_footer.pug
include ./logoGroup/_logoGroup.pug  
include ./header/_header.pug 
include ./select/_select.pug
include ./search/_search.pug


