mixin footer 
  .footer_main
    .width260.mr40.mb20 
      +logoGroup
      .footer_text
        p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    .width143.mr57 
      ul  
        li 
          h2.footer_title навигация
        li 
          a(class='footer_link' href='google.com') О нас
        li 
          a(class='footer_link' href='google.com') Новости
        li 
          a(class='footer_link' href='google.com') Служба поддержки
        li 
          a(class='footer_link' href='google.com') Услуги
    .width108.mr92
      ul  
        li 
          h2.footer_title о нас
        li 
          a(class='footer_link' href='google.com') О сервисе
        li 
          a(class='footer_link' href='google.com') Наша команда
        li 
          a(class='footer_link' href='google.com') Вакансии
        li 
          a(class='footer_link' href='google.com') Инвесторы
    .footer_cupport
    .footer_subscription
  