@import 'reset.scss';
@import '../block/libs/_variables.scss';
@import '../fonts/Montserrat.css';
@import '../fonts/MontserratBold.css';

body {
    font-family: 'Montserrat', Arial, sans-serif;
    box-sizing: border-box;
}
div {
    box-sizing: border-box; 
}
//styles for index.pug
.page__main {
    margin-right: 20px;
    text-decoration: none;
}
.page_main__wrap {
    padding: 50px;
}

@import '../block/libs/buttons/but.scss';
@import '../pages/pages/UI-colors-type/UIColorsType.scss';
@import '../pages/pages/UI-form-elements/UIFormElements.scss';
@import '../block/libs/UI-colors/_ui-color.scss';
@import '../block/libs/UI-text/ui-text';
@import '../block/libs/logo/logo';
@import '../block/libs/text-field/text-field';
@import '../block/libs/UI-formElementInputTitle/ui-input-title';
@import '../block/libs/dropdownSum/dropdownSum';
@import '../block/libs/dropdownCheckbox/dropdownCheckbox';
@import '../block/libs/radioButtons/radioButtons';
@import '../block/libs/toggleButtons/toggleButtons';
@import '../block/libs/likeButton/likeButton';
@import '../block/libs/rateButton/rateButton';
@import '../block/libs/buttonText/buttonText';
@import '../block/libs/buttons/but.scss';
@import '../block/libs/checkbox/checkbox';
@import '../block/libs/advantages/advantages';
@import '../block/libs/review/review';
@import '../block/libs/bulletList/bulletList';
@import '../block/libs/rangeSlider/rangeSlider';
@import '../block/libs/pagination/pagination';
@import '../block/libs/calendar/calendar';
@import '../pages/pages/UI-headers-footers/UiHeadersFooters.scss';
@import '../block/libs/footer/footer';
@import '../block//libs/logoGroup/logoGroup';
@import '../block/libs/header/_header.scss';
@import '../block/libs/select/select';





