@charset "UTF-8";
@import '../fonts/Montserrat.css';
@import '../fonts/MontserratBold.css';
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Montserrat", Arial, sans-serif;
  box-sizing: border-box;
  width: 100%;
}

div {
  box-sizing: border-box;
}

.image {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-image: url("../img/image.png");
}

.pugg {
  background-color: green;
}

.but {
  width: 100px;
  height: 30px;
  background-color: red;
  margin-left: 50px;
}

.but-color {
  color: white;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  border-radius: 20px;
}
.buttons p {
  font-size: 12px;
  line-height: 14.63px;
  text-transform: uppercase;
}

.buttons__defaultBg {
  background: linear-gradient(#BC9CFF, #8BA4F9);
  border: none;
  color: white;
}

button.buttons__defaultBg:hover {
  background: linear-gradient(#BC9CFF, #8BA4F9);
  border: none;
  opacity: 0.5;
  color: white;
}

.buttons__defaultBorder {
  border: 2px solid transparent;
  background: linear-gradient(#BC9CFF, #8BA4F9);
  box-shadow: inset 0px 0px 0px 20px #fff;
  border-radius: 20px;
  color: #BC9CFF;
}

button.buttons__defaultBorder:hover {
  border: 2px solid transparent;
  background: linear-gradient(#BC9CFF, #8BA4F9);
  box-shadow: inset 0px 0px 0px 20px #fff;
  border-radius: 20px;
  opacity: 0.5;
  color: #BC9CFF;
}

.buttons__width99 {
  width: 99px;
}

.buttons__width320 {
  width: 320px;
}

.displayNone {
  display: none;
}

.button_text__width {
  width: 270px;
}

.uiColorsTypeContainer {
  position: relative;
  display: flex;
  justify-content: flex-start;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 10.6%;
  padding-top: 145px;
  margin-bottom: 1000px;
}
.uiColorsTypeContainer .columnLeft, .uiColorsTypeContainer .columnRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.uiColorsTypeContainer .columnLeft {
  width: 280px;
  margin-right: 415px;
}
.uiColorsTypeContainer .columnRight {
  display: flex;
}

.uiColorsType__logo {
  position: absolute;
  z-index: 500;
  width: 48px;
  height: 48px;
  left: 30px;
  top: 30px;
}

.uiFormElements_Container {
  display: flex;
  padding-left: 141px;
  padding-top: 143px;
}
.uiFormElements_Container .columnLeft {
  display: block;
  height: auto;
  margin-right: 126px;
}
.uiFormElements_Container .columnCentr {
  height: auto;
}
.uiFormElements_Container .columnRight {
  display: block;
  height: auto;
  margin-left: 72px;
}

.uiFormElements_calendar__wrap {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 320px;
  height: 65px;
}

.uiFormElements_likeButton__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90px;
}

.uiFormElements_btn__wrap {
  display: flex;
  justify-content: space-between;
}

.uiFormElements_footer {
  display: flex;
  padding-left: 140px;
  padding-bottom: 131px;
}
.uiFormElements_footer .columnLeft {
  display: block;
  margin-right: 167px;
}
.uiFormElements_footer .columnRight {
  display: block;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb14 {
  margin-bottom: 14px;
}

.mb16 {
  margin-bottom: 16px;
}

.mb20 {
  margin-bottom: 20.5px;
}

.mb30 {
  height: 30px;
}

.mb36 {
  margin-bottom: 36px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb45 {
  margin-bottom: 45px;
}

.mb58 {
  margin-bottom: 58px;
}

.mb98 {
  margin-bottom: 98px;
}

.mb100 {
  margin-bottom: 100px;
}

.mb196 {
  margin-bottom: 196px;
}

.mb230 {
  margin-bottom: 230px;
}

.mb240 {
  margin-bottom: 240px;
}

.mt100 {
  margin-top: 98px;
}

.mt130 {
  margin-top: 108px;
}

.w150 {
  width: 150px;
}

.w152 {
  width: 152px;
}

.w220 {
  width: 220px;
}

.w266 {
  width: 266px;
}

/*.ui-color-wrap {
    display: flex;
    justify-content: space-between;
}*/
.ui-color-block-wrap {
  display: flex;
  justify-content: start;
}

.ui-color-block-mb {
  margin-bottom: 20px;
}

.ui-color-square {
  width: 70px;
  height: 70px;
  margin-right: 40px;
  border-radius: 6px;
}

.Primary-Color {
  background-color: #BC9CFF;
}

.Secondary-color {
  background-color: #6FCF97;
}

.Dark-color {
  background-color: #1F2041;
}

.Dark-color75 {
  background-color: #1F2041;
  opacity: 0.75;
}

.Dark-color50 {
  background-color: #1F2041;
  opacity: 0.5;
}

.Dark-color25 {
  background-color: #1F2041;
  opacity: 0.25;
}

.Dark-color5 {
  background-color: #1F2041;
  opacity: 0.05;
}

.ui-colot-text {
  width: 170px;
}

.uiColorBlock-textName-style, .uiColorBlock-textValue-style {
  width: 180px;
  font-size: 19px;
  line-height: 38px;
  color: #1F2041;
  font-family: "MontserratBold", Arial, sans-serif;
}

.uiColorBlock-textValue-style {
  line-height: 20px;
  font-family: "Montserrat", Arial, sans-serif;
}

.ui-text-block-wrap {
  display: flex;
  justify-content: space-between;
  width: 430px;
}

.ui-text-block-mb {
  height: auto;
  margin-bottom: 50px;
}

.ui-text__tag_wrap {
  width: 37px;
  margin-right: 30px;
}

.ui-text__text_wrap {
  width: 370px;
}

/*Style for tags*/
.ui-text__tagh1_style, .ui-text__tagh2_style, .ui-text__tagh3_style, .ui-text__taghBody_style {
  color: #1F2041;
  opacity: 0.25;
  width: 37px;
  text-align: right;
}

.ui-text__tagh1_style {
  line-height: 29px;
  font-size: 24px;
  text-transform: uppercase;
}

.ui-text__tagh2_style {
  line-height: 23px;
  font-size: 19px;
  text-transform: uppercase;
}

.ui-text__tagh3_style {
  text-transform: uppercase;
  line-height: 14px;
  font-size: 12px;
}

.ui-text__taghBody_style {
  line-height: 24px;
  font-size: 14px;
}

/*Style for text*/
.ui-text__tagh1text_style, .ui-text__tagh2text_style, .ui-text__tagh3text_style, .ui-text__taghBodytext_style {
  color: #1F2041;
}

.ui-text__tagh1text_style {
  font-family: "MontserratBold", Arial, sans-serif;
  line-height: 29px;
  font-size: 24px;
}

.ui-text__tagh2text_style {
  font-family: "MontserratBold", Arial, sans-serif;
  line-height: 23px;
  font-size: 19px;
}

.ui-text__tagh3text_style {
  font-family: "MontserratBold", Arial, sans-serif;
  text-transform: uppercase;
  line-height: 18px;
  font-size: 12px;
}

.ui-text__taghBodytext_style {
  line-height: 23px;
  font-size: 14px;
  opacity: 0.75;
}

.logoStyles {
  position: absolute;
  z-index: 500;
  width: 48px;
  height: 48px;
  left: 30px;
  top: 30px;
}

.textField_wrap {
  position: relative;
}

.textField {
  box-sizing: border-box;
  width: 320px;
  height: 44px;
  padding-left: 15px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  outline: none;
}

.textField_arrow {
  position: absolute;
  width: 24px;
  height: 24px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../block/libs/text-field/text-field-arrow.svg");
  top: 10px;
  left: 233px;
}

::placeholder {
  font-size: 14px;
  color: #1F2041;
  opacity: 0.25;
  letter-spacing: 0.6px;
}

.textField:hover::-webkit-input-placeholder {
  color: #1F2041;
  opacity: 0.5;
}

.textField:focus::-webkit-input-placeholder {
  color: #1F2041;
  opacity: 0.5;
}

.textField:hover {
  border: 1px solid rgba(31, 32, 65, 0.5);
  outline: none;
}

.textField:focus {
  border: 1px solid rgba(31, 32, 65, 0.5);
  background-color: white;
  outline: none;
}

.w320 {
  width: 320px;
}

.w266 {
  width: 266px;
}

.inputDropdownTitleWrap {
  display: flex;
  justify-content: space-between;
}

.inputDropdownTitle, .inputDropdownTitleDefault {
  width: auto;
}
.inputDropdownTitle p, .inputDropdownTitleDefault p {
  color: #1F2041;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 15px;
  letter-spacing: 0.4px;
}

.inputDropdownTitleDefault p {
  opacity: 0.5;
}

.width320 {
  width: 320px;
}

.width292 {
  width: 292px;
}

.dropdownSum__Wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 44px;
  padding-left: 15px;
  padding-right: 10px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
}

.dropdownSum__Width320 {
  width: 320px;
}

.dropdownSum__Width266 {
  width: 266px;
}

.borderRadiusBottomNone {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.dropdownSum_Text {
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #1F2041;
  opacity: 0.75;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.8px;
}

.dropdownSum_Btn {
  border: none;
  background-color: white;
}

.dropdownSum_Context {
  box-sizing: border-box;
  padding: 6px 7px 8px 15px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-top: none;
  border-radius: 4px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
}

.displayNone {
  display: none;
}

.RedVVV {
  background-color: red;
}

.dropdownSum_ContexWrap {
  display: flex;
  align-items: center;
  height: 30px;
  margin-bottom: 7px;
}
.dropdownSum_ContexWrap .title {
  color: #1F2041;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}
.dropdownSum_ContexWrap .title__width206 {
  width: 206px;
}
.dropdownSum_ContexWrap .title__width152 {
  width: 152px;
}
.dropdownSum_ContexWrap .BtnMinus, .dropdownSum_ContexWrap .BtnPlus {
  text-align: center;
  padding-top: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 50%;
}
.dropdownSum_ContexWrap .Result {
  margin-right: 10px;
  font-size: 12px;
  color: #1F2041;
  text-transform: uppercase;
}
.dropdownSum_ContexWrap .BtnMinus {
  margin-right: 10px;
}
.dropdownSum_ContexWrap .BtnPlus {
  margin-right: 0;
}

.dropdownSum_ContextWrap__mb0 {
  margin-bottom: 0px;
}

.dropdownSum_Btn__Wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-bottom: 5px;
}
.dropdownSum_Btn__Wrap button {
  padding: 0;
  color: #BC9CFF;
  text-transform: uppercase;
  font-size: 12px;
  background-color: white;
  border: none;
  letter-spacing: 0.8px;
}

.dropdownSum_BtnClear__opasity0 {
  opacity: 0;
}

.Checkbox_text__none {
  display: none;
}

.dropdownCheckbox__Wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 266px;
  height: 44px;
}
.dropdownCheckbox__Wrap .title {
  color: #1F2041;
  font-size: 12px;
  text-transform: uppercase;
}

.dropdownCheckbox_btn {
  height: 44px;
  border: none;
  background-color: white;
}

.dropdownCheckbox_input__wrap {
  position: relative;
  width: 266px;
  height: 20px;
  margin-bottom: 10px;
  vertical-align: top;
}

input {
  margin-right: 10px;
}

label {
  position: absolute;
  /*max-width: 192px;*/
  top: 2px;
  font-size: 14px;
  color: #1F2041;
  letter-spacing: 1.2px;
  opacity: 0.5;
}

.dropdownCheckbox_input__custom {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.dropdownCheckbox_input__custom + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.dropdownCheckbox_input__custom + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  margin-right: 9.74px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.dropdownCheckbox_input__custom:checked + label::before {
  border-color: #BC9CFF;
  opacity: 1;
  background-image: url("../block/libs/dropdownCheckbox/checkboxArrow.svg");
}

.radioButtons__wrap {
  position: relative;
  display: flex;
  height: 20px;
}

.radioClass1 {
  width: 98px;
  margin-right: 20px;
}
.radioClass1 label {
  font-size: 14px;
  color: #1F2041;
  opacity: 0.5;
}

.custom-radio > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.radioButtons_input {
  height: 20px;
}

.custom-radio > span {
  display: inline-flex;
  align-items: center;
  user-select: none;
  height: 20px;
}

label.custom-radio {
  height: 20px;
}

.custom-radio > span::before {
  content: "";
  /*margin-top: 3px;*/
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 50%;
  margin-right: 9.74px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

/* стили при наведении курсора на радио */
.custom-radio > input:not(:disabled):not(:checked) + span:hover::before {
  border-color: #b3d7ff;
}

/* стили для радиокнопки, находящейся в состоянии checked */
.custom-radio > input:checked + span::before {
  border-color: #BC9CFF;
  background-color: white;
  background-image: url(../block/libs/radioButtons/radioBtn.png);
}

.toggleButtons__wrap {
  display: flex;
  align-items: center;
}

.toggleButtons_container {
  width: 40px;
  height: 20px;
  border-radius: 10px;
  margin-right: 10px;
}

.toggleButtons_containerIncluded__padding {
  padding-top: 3px;
  padding-left: 24px;
}

.toggleButtons_container__colorPrimary {
  border: 1px solid #BC9CFF;
}

.toggleButtons_container__colorDark {
  border: 1px solid rgba(31, 32, 65, 0.25);
}

.toggleButtons_toggle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.toggleButtons_toggle__colorPrimary {
  /*background-color: $primary-color;*/
  background: linear-gradient(#BC9CFF, #8BA4F9);
}

.toggleButtons_text {
  font-size: 14px;
  color: #1F2041;
  opacity: 0.75;
  letter-spacing: 1.2px;
}

.toggleButtons_containerDisabled__padding {
  padding-top: 3px;
  padding-left: 3px;
}

.toggleButtons_toggle__colorDark {
  background-color: #1F2041;
  opacity: 0.25;
}

.toggleButtons__displayNoneOn {
  display: none;
}

.toggleButtons__displayNoneOff {
  display: none;
}

.likeButton_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 4px;
  padding-left: 4px;
  width: 40px;
  height: 20px;
  border-radius: 10px;
}

.likeButton_border__colorGrey {
  border: 1px solid rgba(31, 32, 65, 0.25);
}

.likeButton_border__colorPrimary {
  border: 1px solid #BC9CFF;
}

.likeButton_img__primary {
  width: 12px;
  height: 12px;
  background-image: url("../block/libs/likeButton/likePrimary.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.likeButton_img__gray {
  width: 12px;
  height: 12px;
  background-image: url("../block/libs/likeButton/likeGrey.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.likeButton_sum {
  font-size: 10px;
  line-height: 12.19px;
  color: #1F2041;
  opacity: 0.25;
}

.rateButton__wrap {
  display: flex;
  justify-content: space-between;
  width: 120px;
  height: 24px;
}

.rateButton_star {
  width: 24px;
  height: 24px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.rateButton_star__blue {
  background-image: url("../block/libs/rateButton/star.svg");
}

.rateButton_star__wait {
  background-image: url("../block/libs/rateButton/starBorder.svg");
}

.buttonText__text {
  font-size: 12px;
  line-height: 14.63px;
  text-transform: uppercase;
}

.buttonText__colorPrimary {
  color: #BC9CFF;
}

.buttonText__colorDatrk {
  color: #1F2041;
  opacity: 0.5;
}

.buttonText__colorWhite {
  color: white;
}

.but {
  width: 100px;
  height: 30px;
  background-color: red;
  margin-left: 50px;
}

.but-color {
  color: white;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  border-radius: 20px;
}
.buttons p {
  font-size: 12px;
  line-height: 14.63px;
  text-transform: uppercase;
}

.buttons__defaultBg {
  background: linear-gradient(#BC9CFF, #8BA4F9);
  border: none;
  color: white;
}

button.buttons__defaultBg:hover {
  background: linear-gradient(#BC9CFF, #8BA4F9);
  border: none;
  opacity: 0.5;
  color: white;
}

.buttons__defaultBorder {
  border: 2px solid transparent;
  background: linear-gradient(#BC9CFF, #8BA4F9);
  box-shadow: inset 0px 0px 0px 20px #fff;
  border-radius: 20px;
  color: #BC9CFF;
}

button.buttons__defaultBorder:hover {
  border: 2px solid transparent;
  background: linear-gradient(#BC9CFF, #8BA4F9);
  box-shadow: inset 0px 0px 0px 20px #fff;
  border-radius: 20px;
  opacity: 0.5;
  color: #BC9CFF;
}

.buttons__width99 {
  width: 99px;
}

.buttons__width320 {
  width: 320px;
}

.displayNone {
  display: none;
}

.button_text__width {
  width: 270px;
}

.Checkbox_input__wrap {
  position: relative;
  width: 266px;
  height: 20px;
  vertical-align: top;
  margin-bottom: 10px;
}

input {
  margin-right: 10px;
}

.Checkbox_label {
  font-weight: 900;
  position: absolute;
  width: 266px;
  top: 2px;
  font-size: 14px;
  color: #1F2041;
  opacity: 0.75;
  letter-spacing: 1.1px;
}

.Checkbox_label__opasity {
  position: absolute;
  /*min-width: 240px;*/
  min-width: 270px;
  top: 2px;
  font-size: 14px;
  color: #1F2041;
  line-height: 18px;
  opacity: 0.5;
  letter-spacing: 1.1px;
}

.Checkbox_input__custom {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.Checkbox_input__custom + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.Checkbox_input__custom + label::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  margin-right: 9.74px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.Checkbox_input__custom:checked + label::before {
  border-color: #BC9CFF;
  opacity: 1;
  background-image: url("../block/libs/dropdownCheckbox/checkboxArrow.svg");
}

.Checkbox_text {
  max-width: 266px;
  margin-bottom: 10px;
  padding-left: 30px;
  font-size: 12px;
  color: #1F2041;
  opacity: 0.5;
}

.advantages__wrap {
  display: flex;
  width: 280px;
  height: 64px;
  margin-bottom: 25px;
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
}

.advantages_img {
  width: 42px;
  height: 42px;
  margin-right: 14px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.advantages_img1 {
  background-image: url("../block/libs/advantages/advantagesImg1.svg");
}

.advantages_img2 {
  background-image: url("../block/libs/advantages/advantagesImg2.svg");
}

.advantages_text__title, .advantages_text__text {
  font-size: 14px;
  line-height: 14px;
  color: #1F2041;
  opacity: 0.75;
  letter-spacing: 1px;
}

.advantages_text__title {
  font-weight: 900;
  margin-bottom: 9px;
}

.review__wrap {
  display: flex;
}

.review_columnLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.review_img {
  width: 44px;
  height: 44px;
  margin-bottom: 12px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.review_img1 {
  background-image: url("../block/libs/review/avatar1.jpg");
}

.reviev_title, .review_amountDays, .review_text {
  font-size: 14px;
  line-height: 14px;
  color: #1F2041;
  opacity: 0.75;
  letter-spacing: 0.8px;
}

.reviev_title {
  font-weight: 900;
  margin-bottom: 7px;
}

.review_amountDays {
  display: flex;
  margin-bottom: 12px;
}

.amountDays_count, .amountDays_text {
  line-height: 18px;
}

.review_text {
  max-width: 650px;
  line-height: 24px;
}

.bulletList__wrap {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.bulletList_point {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  margin-top: 8px;
  border-radius: 50%;
  background-color: #1F2041;
  opacity: 0.25;
}

.bulletList_text {
  max-width: 230px;
}
.bulletList_text p {
  font-size: 14px;
  line-height: 24px;
  color: #1F2041;
  opacity: 0.75;
  letter-spacing: 1.1px;
}

.rangeSlider_text__wrap {
  display: flex;
  justify-content: space-between;
  width: 266px;
  margin-bottom: 20px;
}

.rangeSlider_title {
  margin-right: 68px;
  font-size: 12px;
  color: #1F2041;
  text-transform: uppercase;
}

.rangeSlider_value__wrap {
  display: flex;
}

.rangeSlider_minValue, .rangeSlider_maxValue {
  font-size: 12px;
  color: #1F2041;
  opacity: 0.5;
}

.rangeSlider_input__wrap {
  display: flex;
}

.rangeSlider_min__wrap {
  width: 133px;
}

.rangeSlider_max__wrap {
  width: 133px;
}

input.rangeSlider_min {
  width: 100%;
  --litters-range: 75%;
  appearance: none;
  outline: none;
  height: 6px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  background: linear-gradient(to right, white var(--litters-range), #66D2EA var(--litters-range));
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-right: none;
}

input.rangeSlider_max {
  width: 100%;
  --litters1-range: 75%;
  appearance: none;
  outline: none;
  height: 6px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  /*background: linear-gradient( to right, #66D2EA let(--litters-range1), white let(--litters-range1));*/
  background: linear-gradient(to right, #66D2EA var(--litters-range1), white var(--litters-range1));
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-left: none;
}

.rangeSlider_min__wrap input::-webkit-slider-thumb {
  cursor: pointer;
  appearance: none;
  width: 18px;
  height: 18px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 50%;
  border: 3px solid white;
}

.rangeSlider_max__wrap input::-webkit-slider-thumb {
  cursor: pointer;
  appearance: none;
  width: 18px;
  height: 18px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 50%;
  border: 3px solid white;
}

.pagination {
  display: flex;
  align-items: center;
  /*justify-content: center;*/
  width: 290px;
  height: 40px;
  margin-bottom: 12px;
}

.pagination ui {
  display: flex;
}

.pagination ui li {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  list-style: none;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 12px;
  color: #1F2041;
  opacity: 0.5;
}

.pagination_li__active {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(#8BA4F9, #BC9CFF);
  color: white;
}

#pagination_BtnMinus, #pagination_BtnPlus {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #6FCF97;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

#pagination_BtnMinus {
  transform: rotate(180deg);
}

.displayNone {
  display: none;
}

.displayFlex {
  display: flex;
}

.pagination_text {
  padding-left: 6px;
  font-size: 14px;
  color: #1F2041;
  opacity: 0.75;
  letter-spacing: 0.7px;
}

.colorWait {
  background: white;
}

/*.calendar-wrapper {
    width: 360px;
    margin: 3em auto;
    padding: 2em;
    border: 1px solid #dcdcff;
    border-radius: 5px;
    background: #fff;
  }
  table {
    clear: both;
    width: 100%;
    border: 1px solid #dcdcff;
    border-radius: 3px;
    border-collapse: collapse;
    color: #444;
  }
  td {
    height: 48px;
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid #dcdcff;
    border-top: 1px solid #dcdcff;
    width: 14.28571429%;
  }
  thead td {
    border: none;
    color: #28283b;
    text-transform: uppercase;
    font-size: 1.5em;
  }
  td.today {
    font-weight: 700;
    color: #28283b;
    font-size: 1.5em;
  }*/
input {
  box-sizing: border-box;
  font-size: 14px;
  color: #1F2041;
  opacity: 0.75;
  /*width: 150px;*/
  height: 44px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 0;
  /*text-transform: uppercase;*/
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
}

::-webkit-calendar-picker-indicator {
  width: 11px;
  height: 11px;
  margin-top: 2px;
  color: transparent;
  opacity: 1;
  background-image: url(../block/libs/dropdownCheckbox/checkboxArrowUp.png);
  background-size: contain;
}

.arrow-smile {
  color: green;
}

/*# sourceMappingURL=index.css.map */
