@import '../fonts/Montserrat.css';
@import '../fonts/MontserratBold.css';
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Montserrat", Arial, sans-serif;
  box-sizing: border-box;
  width: 100%;
}

.image {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-image: url("../img/image.png");
}

.pugg {
  background-color: green;
}

.but {
  width: 100px;
  height: 30px;
  background-color: red;
  margin-left: 50px;
}

.but-color {
  color: white;
}

.uiColorsTypeContainer {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 145px;
}
.uiColorsTypeContainer .columnLeft, .uiColorsTypeContainer .columnRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.uiColorsTypeContainer .columnLeft {
  width: 25%;
}
.uiColorsTypeContainer .columnRight {
  display: flex;
}

.wo {
  font-weight: bold;
}

/*.ui-color-wrap {
    display: flex;
    justify-content: space-between;
}*/
.ui-color-block-wrap {
  display: flex;
  justify-content: start;
}

.ui-color-block-mb {
  margin-bottom: 20px;
}

.ui-color-square {
  width: 70px;
  height: 70px;
  margin-right: 40px;
  border-radius: 6px;
}

.Primary-Color {
  background-color: #BC9CFF;
}

.Secondary-color {
  background-color: #6FCF97;
}

.Dark-color {
  background-color: #1F2041;
}

.Dark-color75 {
  background-color: #1F2041;
  opacity: 0.75;
}

.Dark-color50 {
  background-color: #1F2041;
  opacity: 0.5;
}

.Dark-color25 {
  background-color: #1F2041;
  opacity: 0.25;
}

.Dark-color5 {
  background-color: #1F2041;
  opacity: 0.05;
}

.ui-colot-text {
  width: 170px;
}

.uiColorBlock-textName-style, .uiColorBlock-textValue-style {
  width: 180px;
  font-size: 19px;
  line-height: 34px;
  color: #1F2041;
  font-family: "MontserratBold", Arial, sans-serif;
}

.uiColorBlock-textValue-style {
  line-height: 20px;
  font-family: "Montserrat", Arial, sans-serif;
}

.ui-text-block-wrap {
  display: flex;
  justify-content: space-between;
  width: 430px;
}

.ui-text-block-mb {
  height: auto;
  margin-bottom: 50px;
  background-color: yellow;
}

.ui-tex__tag {
  width: 37px;
  margin-right: 30px;
}

.ui-text__text {
  width: 370px;
}

/*Style for tags*/
.ui-text__tagh1_style, .ui-text__tagh2_style, .ui-text__tagh3_style, .ui-text__taghBody_style {
  color: #1F2041;
  opacity: 0.25;
  text-align: right;
}

.ui-text__tagh1_style {
  line-height: 29px;
  font-size: 24px;
  text-transform: uppercase;
}

.ui-text__tagh2_style {
  line-height: 23px;
  font-size: 19px;
  text-transform: uppercase;
}

.ui-text__tagh3_style {
  text-transform: uppercase;
  line-height: 14px;
  font-size: 12px;
}

.ui-text__taghBody_style {
  line-height: 24px;
  font-size: 14px;
}

/*Style for text*/
.ui-text__tagh1text_style, .ui-text__tagh2text_style, .ui-text__tagh3text_style, .ui-text__taghBodytext_style {
  color: #1F2041;
}

.ui-text__tagh1text_style {
  font-family: "MontserratBold", Arial, sans-serif;
  line-height: 29px;
  font-size: 24px;
}

.ui-text__tagh2text_style {
  font-family: "MontserratBold", Arial, sans-serif;
  line-height: 23px;
  font-size: 19px;
}

.ui-text__tagh3text_style {
  text-transform: uppercase;
  line-height: 14px;
  font-size: 12px;
}

.ui-text__taghBodytext_style {
  line-height: 24px;
  font-size: 14px;
  opacity: 0.75;
}

/*# sourceMappingURL=index.css.map */
