@charset "UTF-8";
@import '../fonts/Montserrat.css';
@import '../fonts/MontserratBold.css';
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Montserrat", Arial, sans-serif;
  box-sizing: border-box;
  width: 100%;
}

div {
  box-sizing: border-box;
}

.image {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-image: url("../img/image.png");
}

.pugg {
  background-color: green;
}

.but {
  width: 100px;
  height: 30px;
  background-color: red;
  margin-left: 50px;
}

.but-color {
  color: white;
}

.uiColorsTypeContainer {
  position: relative;
  display: flex;
  justify-content: flex-start;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 10.6%;
  padding-top: 145px;
  margin-bottom: 1000px;
}
.uiColorsTypeContainer .columnLeft, .uiColorsTypeContainer .columnRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.uiColorsTypeContainer .columnLeft {
  width: 280px;
  margin-right: 415px;
}
.uiColorsTypeContainer .columnRight {
  display: flex;
}

.uiColorsType__logo {
  position: absolute;
  z-index: 500;
  width: 48px;
  height: 48px;
  left: 30px;
  top: 30px;
}

.uiFormElementsContainer {
  display: flex;
  padding-left: 140px;
  padding-top: 140px;
}
.uiFormElementsContainer .columnLeft {
  display: block;
  margin-right: 126px;
}
.uiFormElementsContainer .columnRight {
  display: block;
  margin-left: 72px;
}

.uiFormElements_likeButton__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90px;
}

.uiFormElements_btn__wrap {
  display: flex;
  justify-content: space-between;
}

.mb5 {
  width: 320px;
  height: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb16 {
  margin-bottom: 16px;
}

.mb20 {
  width: 320px;
  height: 20px;
}

.mb36 {
  margin-bottom: 36px;
}

.mb40 {
  width: 320px;
  height: 40px;
}

.w152 {
  width: 152px;
}

/*.ui-color-wrap {
    display: flex;
    justify-content: space-between;
}*/
.ui-color-block-wrap {
  display: flex;
  justify-content: start;
}

.ui-color-block-mb {
  margin-bottom: 20px;
}

.ui-color-square {
  width: 70px;
  height: 70px;
  margin-right: 40px;
  border-radius: 6px;
}

.Primary-Color {
  background-color: #BC9CFF;
}

.Secondary-color {
  background-color: #6FCF97;
}

.Dark-color {
  background-color: #1F2041;
}

.Dark-color75 {
  background-color: #1F2041;
  opacity: 0.75;
}

.Dark-color50 {
  background-color: #1F2041;
  opacity: 0.5;
}

.Dark-color25 {
  background-color: #1F2041;
  opacity: 0.25;
}

.Dark-color5 {
  background-color: #1F2041;
  opacity: 0.05;
}

.ui-colot-text {
  width: 170px;
}

.uiColorBlock-textName-style, .uiColorBlock-textValue-style {
  width: 180px;
  font-size: 19px;
  line-height: 38px;
  color: #1F2041;
  font-family: "MontserratBold", Arial, sans-serif;
}

.uiColorBlock-textValue-style {
  line-height: 20px;
  font-family: "Montserrat", Arial, sans-serif;
}

.ui-text-block-wrap {
  display: flex;
  justify-content: space-between;
  width: 430px;
}

.ui-text-block-mb {
  height: auto;
  margin-bottom: 50px;
}

.ui-text__tag_wrap {
  width: 37px;
  margin-right: 30px;
}

.ui-text__text_wrap {
  width: 370px;
}

/*Style for tags*/
.ui-text__tagh1_style, .ui-text__tagh2_style, .ui-text__tagh3_style, .ui-text__taghBody_style {
  color: #1F2041;
  opacity: 0.25;
  width: 37px;
  text-align: right;
}

.ui-text__tagh1_style {
  line-height: 29px;
  font-size: 24px;
  text-transform: uppercase;
}

.ui-text__tagh2_style {
  line-height: 23px;
  font-size: 19px;
  text-transform: uppercase;
}

.ui-text__tagh3_style {
  text-transform: uppercase;
  line-height: 14px;
  font-size: 12px;
}

.ui-text__taghBody_style {
  line-height: 24px;
  font-size: 14px;
}

/*Style for text*/
.ui-text__tagh1text_style, .ui-text__tagh2text_style, .ui-text__tagh3text_style, .ui-text__taghBodytext_style {
  color: #1F2041;
}

.ui-text__tagh1text_style {
  font-family: "MontserratBold", Arial, sans-serif;
  line-height: 29px;
  font-size: 24px;
}

.ui-text__tagh2text_style {
  font-family: "MontserratBold", Arial, sans-serif;
  line-height: 23px;
  font-size: 19px;
}

.ui-text__tagh3text_style {
  font-family: "MontserratBold", Arial, sans-serif;
  text-transform: uppercase;
  line-height: 18px;
  font-size: 12px;
}

.ui-text__taghBodytext_style {
  line-height: 23px;
  font-size: 14px;
  opacity: 0.75;
}

.logoStyles {
  position: absolute;
  z-index: 500;
  width: 48px;
  height: 48px;
  left: 30px;
  top: 30px;
}

.textField {
  box-sizing: border-box;
  width: 320px;
  height: 44px;
  padding-left: 15px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  outline: none;
}

::placeholder {
  font-size: 14px;
  color: #1F2041;
  opacity: 0.25;
}

.textField:hover::-webkit-input-placeholder {
  color: #1F2041;
  opacity: 0.5;
}

.textField:focus::-webkit-input-placeholder {
  color: #1F2041;
  opacity: 0.5;
}

.textField:hover {
  border: 1px solid rgba(31, 32, 65, 0.5);
  outline: none;
}

.textField:focus {
  border: 1px solid rgba(31, 32, 65, 0.5);
  background-color: white;
  outline: none;
}

.inputDropdownTitleWrap {
  display: flex;
  justify-content: space-between;
}

.inputDropdownTitle, .inputDropdownTitleDefault {
  width: auto;
}
.inputDropdownTitle p, .inputDropdownTitleDefault p {
  color: #1F2041;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}

.inputDropdownTitleDefault p {
  opacity: 0.5;
}

.width320 {
  width: 320px;
}

.dropdownSum__Wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 44px;
  padding-left: 15px;
  padding-right: 10px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
}

.dropdownSum__Width320 {
  width: 320px;
}

.dropdownSum__Width266 {
  width: 266px;
}

.borderRadiusBottomNone {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.dropdownSum_Text {
  color: #1F2041;
  opacity: 0.75;
  font-size: 14px;
  line-height: 24px;
}

.dropdownSum_Btn {
  border: none;
  background-color: white;
}

.dropdownSum_Context {
  padding: 7px 7px 8px 15px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-top: none;
  border-radius: 4px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.displayNone {
  display: none;
}

.RedVVV {
  background-color: red;
}

.dropdownSum_ContexWrap {
  display: flex;
  align-items: center;
  height: 30px;
  margin-bottom: 7px;
}
.dropdownSum_ContexWrap .title {
  /*width: 206px;*/
  color: #1F2041;
  font-size: 12px;
  text-transform: uppercase;
}
.dropdownSum_ContexWrap .title__width206 {
  width: 206px;
}
.dropdownSum_ContexWrap .title__width152 {
  width: 152px;
}
.dropdownSum_ContexWrap .BtnMinus, .dropdownSum_ContexWrap .BtnPlus {
  text-align: center;
  padding-top: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 50%;
}
.dropdownSum_ContexWrap .Result {
  margin-right: 8px;
  font-size: 12px;
  color: #1F2041;
  text-transform: uppercase;
}
.dropdownSum_ContexWrap .BtnMinus {
  margin-right: 8px;
}

.dropdownSum_ContextWrap__mb0 {
  margin-bottom: 0px;
}

.dropdownSum_Btn__Wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-bottom: 13px;
}
.dropdownSum_Btn__Wrap button {
  padding: 0;
  color: #BC9CFF;
  text-transform: uppercase;
  font-size: 15px;
  background-color: white;
  border: none;
}

.dropdownSum_BtnClear__opasity0 {
  opacity: 0;
}

.dropdownCheckbox__Wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 266px;
  height: 44px;
}
.dropdownCheckbox__Wrap .title {
  color: #1F2041;
  font-size: 12px;
  text-transform: uppercase;
}

.dropdownCheckbox_btn {
  height: 44px;
  border: none;
  background-color: white;
}

.dropdownCheckbox_input__wrap {
  position: relative;
  width: 266px;
  height: 20px;
  margin-bottom: 10px;
  vertical-align: top;
}

input {
  margin-right: 10px;
}

label {
  position: absolute;
  max-width: 192px;
  top: 2px;
  font-size: 14px;
  color: #1F2041;
  opacity: 0.5;
}

.dropdownCheckbox_input__custom {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.dropdownCheckbox_input__custom + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.dropdownCheckbox_input__custom + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  margin-right: 9.74px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.dropdownCheckbox_input__custom:checked + label::before {
  border-color: #BC9CFF;
  background-image: url("../block/libs/dropdownCheckbox/checkboxArrow.svg");
}

.radioButtons__wrap {
  position: relative;
  display: flex;
  height: 27px;
}

.radioClass1 {
  width: 98px;
}
.radioClass1 label {
  font-size: 14px;
  color: #1F2041;
  opacity: 0.5;
}

.custom-radio > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-radio > span {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-radio > span::before {
  content: "";
  margin-top: 5px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 50%;
  margin-right: 9.74px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

/* стили при наведении курсора на радио */
.custom-radio > input:not(:disabled):not(:checked) + span:hover::before {
  border-color: #b3d7ff;
}

/* стили для радиокнопки, находящейся в состоянии checked */
.custom-radio > input:checked + span::before {
  border-color: #BC9CFF;
  background-color: white;
  background-image: url(../block/libs/radioButtons/radioBtn.png);
}

.toggleButtons__wrap {
  display: flex;
  align-items: center;
}

.toggleButtons_container {
  width: 40px;
  height: 20px;
  border-radius: 10px;
  margin-right: 10px;
}

.toggleButtons_containerIncluded__padding {
  padding-top: 3px;
  padding-left: 24px;
}

.toggleButtons_container__colorPrimary {
  border: 1px solid #BC9CFF;
}

.toggleButtons_container__colorDark {
  border: 1px solid rgba(31, 32, 65, 0.25);
}

.toggleButtons_toggle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.toggleButtons_toggle__colorPrimary {
  /*background-color: $primary-color;*/
  background: linear-gradient(#BC9CFF, #8BA4F9);
}

.toggleButtons_text {
  font-size: 14px;
  color: #1F2041;
  opacity: 0.75;
}

.toggleButtons_containerDisabled__padding {
  padding-top: 3px;
  padding-left: 3px;
}

.toggleButtons_toggle__colorDark {
  background-color: #1F2041;
  opacity: 0.25;
}

.toggleButtons__displayNoneOn {
  display: none;
}

.toggleButtons__displayNoneOff {
  display: none;
}

.likeButton_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 4px;
  padding-left: 4px;
  width: 40px;
  height: 20px;
  border-radius: 10px;
}

.likeButton_border__colorGrey {
  border: 1px solid rgba(31, 32, 65, 0.25);
}

.likeButton_border__colorPrimary {
  border: 1px solid #BC9CFF;
}

.likeButton_img__primary {
  width: 12px;
  height: 12px;
  background-image: url("../block/libs/likeButton/likePrimary.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.likeButton_img__gray {
  width: 12px;
  height: 12px;
  background-image: url("../block/libs/likeButton/likeGrey.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.likeButton_sum {
  font-size: 10px;
  line-height: 12.19px;
  color: #1F2041;
  opacity: 0.25;
}

.rateButton__wrap {
  display: flex;
  justify-content: space-between;
  width: 120px;
  height: 24px;
}

.rateButton_star {
  width: 24px;
  height: 24px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.rateButton_star__blue {
  background-image: url("../block/libs/rateButton/star.svg");
}

.rateButton_star__wait {
  background-image: url("../block/libs/rateButton/starBorder.svg");
}

.buttonText__text {
  font-size: 12px;
  line-height: 14.63px;
  text-transform: uppercase;
}

.buttonText__colorPrimary {
  color: #BC9CFF;
}

.buttonText__colorDatrk {
  color: #1F2041;
  opacity: 0.5;
}

/*# sourceMappingURL=index.css.map */
