@import 'reset.scss';
@import '../block/libs/_variables.scss';
@import '../fonts/Montserrat.css';

body {
    box-sizing: border-box;
    width: 100%;
}
h1 {
    color: blue;
}
h2 {
    color: red;
}
.image {
    width: 300px;
    height: 300px;
    background-size: cover;
    background-image: url('../img/image.png');
}
.pugg {
    background-color: green;
}
@import '../block/libs/buttons/but.scss';
@import '../pages/UI-colors-type/UIColorsType.scss';
@import '../block/libs/UI-colors/_ui-color.scss';

