mixin calendar(classWidth) 
  div
    input(class=classWidth type="date" placeholder="ДД.ММ.ГГ")
  //.calendar-wrapper
  //  button(id='btnPrev' type='button') Предыдущий
  //  button(id='btnNext' type='button') Следующий
  //  div(id='divCal')
  //input(id='calendar-input' type="text" placeholder="Choose date")
  //div(id='calendar-input-div')
  //div(id='calendar')
  