.uiFormElementsContainer {
    display: flex;
    padding-left: 140px;
    padding-top: 140px;
    .columnLeft  {
        display: block;
        margin-right: 126px;
    }
}
.mb5 {
    width: 320px;
    height: 5px;
}
.mb40 {
    width: 320px;
    height: 40px;
}
.mb20 {
    width: 320px;
    height: 20px;
}