.uiFormElements_Container {
    display: flex;
    padding-left: 140px;
    padding-top: 140px;
    .columnLeft  {
        display: block;
        margin-right: 126px;
    }
    .columnRight {
        display: block;
        margin-left: 72px; 
    }
}
.uiFormElements_likeButton__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90px;
}
.uiFormElements_btn__wrap {
    display: flex;
    justify-content: space-between;
}
.uiFormElements_footer  {
    display: flex;
    padding-left: 140px;
    padding-bottom: 131px;
    .columnLeft  {
        display: block;
        margin-right: 167px;
    }
    .columnRight {
        display: block;
    }
}
.mb5 {
    width: 320px;
    height: 5px;
}
.mb10 {
    margin-bottom: 10px;
}
.mb16 {
    margin-bottom: 16px;
}
.mb20 {
    width: 320px;
    height: 20px;
}
.mb30 {
    height: 30px;
}
.mb36 {
    margin-bottom: 36px;
}
.mb40 {
    width: 320px;
    height: 40px;
}
.mb100 {
    width: 320px;
    height: 100px;
}
.mb196 {
    width: 320px;
    height: 196px;
}
//width
.w152 {
    width: 152px;
}
.w220 {
    width: 220px;
}