extends ../../layout

block content
  +logo
  div.uiFormElementsContainer
    div.columnLeft
      +inputDropdownTitle('Text Field', 'Default', 'width320')
      div.mb5
      +TextField('email', 'email', 'Email')
      div.mb20 
      +inputDropdownTitle('Text Field', 'Hover / Focus', 'width320')
      div.mb5  
      +TextField('text', 'text', 'This is pretty awesome')
      div.mb20  
      +inputDropdownTitle('Dropdown', '', 'width320')
      div.mb5 
      +dropdownSum('dropdownSum__Width266','title__width152','roomsSumId','0 спальней, 0 кроватей, 0 ванных комнат','спальни', 'кровати', 'ванные комнаты', 'displayNone', 'BtnMinusBedrooms', 'BtnPlusBedrooms','ResultBedrooms', 'BtnMinusBeds', 'BtnPlusBeds','ResultBeds', 'BtnMinusBathroom', 'BtnPlusBathroom', 'ResultBathroom', '', '')
      div.mb20
      .mb40
      .mb40
      +dropdownCheckbox('expandable checkbox list',['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь'])
      .mb20
      +dropdownCheckbox('expandable checkbox list',['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь'])
    div.columnCentr  
      +dropdownCheckbox('Checkbox Buttons',['Можно курить', 'Можно с питомцами', 'Можно пригласить гостей (до 10 человек)']) 
      div.mb5 
      +dropdownSum('dropdownSum__Width320','title__width206','guestsSumId','Сколько гостей', 'взрослые','дети', 'младенцы', 'dropdownSum_Btn__Wrap','BtnMinusAdults', 'BtnPlusAdults','ResultAdults', 'BtnMinusChildren', 'BtnPlusChildren','ResultChildren', 'BtnMinusBabies', 'BtnPlusBabies', 'ResultBabies', 'dropdownSum_BtnClear', 'dropdownSum_BtnApplay')
      div.mb5 
      +inputDropdownTitle('Radio Buttons', '')
      +radioButtons('radioBattonName1','radioBattonValueMun', 'radioBattonIdMun', 'radioBattonValueWoman', 'radioBattonIdWoman')
