extends ../../layout

block content
  +logo
  div.uiFormElementsContainer
    div.columnLeft 
      +inputDropdownTitle('Text Field', 'Default', 'width320')
      +TextField('email', 'email', 'Email')   
      +inputDropdownTitle('Text Field', 'Hover / Focus', 'width320')
      +TextField('text', 'text', 'This is pretty awesome')