mixin dropdownCheckbox 
  .dropdownCheckbox__Wrap 
    .title expandable checkbox list
    button.dropdownCheckbox_btn
      img(src="../../../block/libs/dropdownCheckbox/checkboxArrowUp.png", alt="Btn")   
  .dropdownCheckbox_input__wrap     
    input.dropdownCheckbox_input__custom(type="checkbox" value="hello" id="hello")   
    label(for="hello") Hello  
  .dropdownCheckbox_input__wrap   
    input.dropdownCheckbox_input__custom(type="checkbox" value="hello1" id="hello1") 
    label(for="hello1") Hello 