//mixin dropdownCheckbox(titleMain, array) 
mixin dropdownCheckbox(titleMain, array) 
  .dropdownCheckbox__Wrap
    .title=titleMain
    button.dropdownCheckbox_btn
      img(src="../../../block/libs/dropdownCheckbox/checkboxArrowUp.png", alt="Btn")  
    button.dropdownCheckbox_btn.displayNone
      img(src="../../../block/libs/dropdownCheckbox/checkboxArrowDoun.svg", alt="Btn")
  .dropdownCheckbox_content.displayNone
    +Checkbox(array)