//extends layout
.page_main__wrap
  a.page__main(href="UiFormElements.html") UiFormElements
  a.page__main(href="UiCards.html") UiCards 
  a.page__main(href="UiheadersFooters.html") UiheadersFooters  
  a.page__main(href="UiColorsType.html") UiColorsType