extends ../../layout
block content
  +logo
  div.uiColorsTypeContainer
    div.columnLeft 
      +colorBlock(x, objColors)  
    div.columnRight 
      +textBlosk(x, objText) 
  h2#main-link  Hello Link 