extends ../../layout
block content
  .uiHeadersFooters_container 
    +logo
    +header
    .mb40
    +footer('', '', 'footer_main', 'footer_footer', '')
    .mb40
    +footer('displayNone', 'footer_wrap__mobile', 'footer_main__mobile', 'footer_footer--mobile', 'footer_text__mb25')