-var objText = [{tag: 'h1', text: 'This one is the sub-section orwidget title', tagClass: 'ui-text__tagh1_style', textClass:'ui-text__tagh1text_style'}, {tag: 'H2', text: 'Next one is the item title insidewidgets',tagClass: 'ui-text__tagh2_style',textClass:'ui-text__tagh2text_style'},{tag: 'h3', text: 'This is a label or CTA text',tagClass: 'ui-text__tagh3_style',textClass:'ui-text__tagh3text_style'},{tag: 'Body', text: 'This is the body text which is used for mostof the design, like paragraphs, lists, etc.',tagClass: 'ui-text__taghBody_style',textClass:'ui-text__taghBodytext_style'}];



mixin textBlosk(x,arr) 
  div 
    each x in objText
      .ui-text-block-wrap.ui-text-block-mb
        .ui-text__tag 
          p(class=x.tagClass)= x.tag
        .ui-text__text 
          p(class=x.textClass)= x.text
      
      