extends ../layout

block content
  div.uiColorsTypeContainer
    div.columnLeft 
      each letColor in ['Primary-Color', 'Secondary-color', 'Dark-color']
        +colorBlock(letColor) 
    div.columnRight right1

    

