


.uiColorsTypeContainer {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 145px;
    .columnLeft, .columnRight {
        display: flex;
        flex-direction:column;
        justify-content: space-between;
    }
    .columnLeft {
        width: 20%;
    }
    .columnRight {
        display: flex;
    }
}
.wo {
    font-weight: bold;
}
