mixin pagination 
    .pagination
      .displayNone(id='pagination_BtnMinus')
        img(src="../../../block/libs/buttons/btnArrow.svg", alt="arrow")
      ui(id='list')
        li(class='pagination_li pagination_li__active') 1
        li(class='pagination_li') 2
        li(class='pagination_li') 3
      .displayFlex(id='pagination_BtnPlus')
        img(src="../../../block/libs/buttons/btnArrow.svg", alt="arrow")
