mixin pagination 
  .wrap
    .pagination1
      div(id='countBtnMinus').displayNone
      ui(id='list')
        li(class='pagination_li active') 1
        li(class='pagination_li') 2
        li(class='pagination_li') 3
      div(id='countBtn')
      //div(id='count')
