mixin signIn(title, signUpText) 
  .signIn_container
    .signIp_Title=title
    .mb20
    +TextField('320', '', 'email', 'Email', 'Email') 
    .mb10
    +TextField('320', '', 'password', 'password', 'Пароль') 
    .mb20
    +buttons('','buttons__width320', 'buttons__height44', 'buttons__defaultBg','', 'войти', 'button_text__width') 
    .signIp_wrap.mt30 
      .signIp_text=signUpText
      +buttons('btnPopUpSignIn','buttons__width99', 'buttons__height44', 'buttons__defaultBorder', 'displayNone', 'создать', '')