mixin signUp(title, signUpText) 
  .signUp_container
    .signUp_Title=title
    .mb20
    +TextField('320', '', 'text', 'name', 'Имя') 
    .mb10
    +TextField('320', '', 'text', 'name', 'Фамилия') 
    .mb10
    +radioButtons('radioBattonName1','radioBattonValueMun', 'radioBattonIdMun', 'radioBattonValueWoman', 'radioBattonIdWoman')
    .mb20
    +inputDropdownTitle('дата рождения', '', 'width320')
    .mb5
    +TextField('320', '', 'text', 'date', 'ДД.ММ.ГГГГ') 
    .mb20
    +inputDropdownTitle('данные для входа в сервис', '', 'width320')
    .mb5 
    +TextField('320', '', 'email', 'Email', 'Email') 
    .mb10
    +TextField('320', '', 'password', 'password', 'password') 
    .mb10
    +toggleButtons('Получать спецпредложения', '', 'toggleButtons__displayNoneOff')
    .mb20
    +buttons('','buttons__width320', 'buttons__height44', 'buttons__defaultBg','', 'перейти к оплате', 'button_text__width') 
    .signUp_wrap.mt30 
      .signUp_text=signUpText
      +buttons('btnPopUpSignUp','buttons__width99', 'buttons__height44', 'buttons__defaultBorder', 'displayNone', 'войти', '')
      