.SearchRoom_wrap {
    width: 100%;
    display: flex;
    padding-top: 30px;
    padding-left: 9.7%;
    padding-right: 9.7%;
}
aside {
    border: 1px solid red;
    width: 22.6%;
}
main {
    border: 1px solid green;
}