
- var objColors = [{colorClass: 'Dark-color', colorName: 'Dark Sharp 100%', colorValue: '#1F2041'}, {colorClass: 'Dark-color75', colorName: 'Dark Sharp 75%', colorValue: '#1F2041'},{colorClass: 'Dark-color50', colorName: 'Dark Sharp 50%', colorValue: '#1F2041'},{colorClass: 'Dark-color25', colorName: 'Dark Sharp 25%', colorValue: '#1F2041'},{colorClass: 'Dark-color5', colorName: 'Dark Sharp 5%', colorValue: '#1F2041'},{colorClass: 'Primary-Color',colorName: 'Purple', colorValue: '#6FCF97'},{colorClass: 'Secondary-color',colorName: 'Green', colorValue: '#1F2041'}, ]  

mixin colorBlock(x,arr)
  div
    each x in objColors
      .ui-color-block-wrap.ui-color-block-mb
        .ui-color-square(class=x.colorClass)
        .ui-colot-text() 
          p= x.colorName
          p= x.olorValue
   

    

      

    
  
